# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/node_modules
server/.env
.vercel
.env
*.log
build-error.log
build-log.txt
build.log
build_utf8.log
dev-err.log
push_error.txt
issues.txt
issues2.txt
lint.json
lint.txt
lint2.txt
lint_utf8.json
l.json
fix-lint.cjs
